extends ./layout.jade

block head
	link(rel='stylesheet', type="text/css", href='css/bootstrap-datepicker3.min.css')
	link(rel='stylesheet', type="text/css", href='css/dailyGraph.css')
	script(type='text/javascript', src='js/bootstrap-datepicker.min.js')
	script(type='text/javascript', src='js/amcharts/amcharts.js')
	script(type='text/javascript', src='js/amcharts/serial.js')
	script(type='text/javascript', src='js/amcharts/themes/light.js')
	script(type='text/javascript', src='js/amcharts/pie.js')
	script(type='text/javascript', src='js/dailyGraph.js')
		
block body
	.bodycontainer
		input.datepicker
		.container
			#chartdiv
			#statisticsdiv
				table#graphTable.table.table-bordered.table-striped
					tbody#statTableBody
				#bolusGraph
		.container
			div#boluseventsdiv
				table#eventTable.table.table-bordered
					tbody#eventTableBody