extends ./layout.jade

block head
	link(rel='stylesheet', type="text/css", href='css/bootstrap-datepicker3.min.css')
	link(rel='stylesheet', type="text/css", href='css/dailyGraph.css')
	script(type='text/javascript', src='js/bootstrap-datepicker.min.js')
	script(type='text/javascript', src='js/amcharts/amcharts.js')
	script(type='text/javascript', src='js/amcharts/serial.js')
	script(type='text/javascript', src='js/amcharts/themes/light.js')
	script(type='text/javascript', src='js/amcharts/pie.js')
	script(type='text/javascript', src='js/dailyGraph.js')
		
block body
	.container
		.row
			.col-md-5.col-xs-12
				input.col-xs-10.col-sm-3.col-md-7.input-sm(type='text' id='inputDatePicker').datepicker
				button.col-xs-2.col-sm-1.col-md-2.btn.btn-primary.btn-sm(type='button' onclick='updateChart()') Go!
			script.
				$('.datepicker').datepicker({
					autoclose: true,
					format: 'dd-mm-yyyy',
					startDate: '#{startDate}',
					endDate: '#{endDate}',
					disableTouchKeyboard: true,
					todayHighlight: true,
					weekStart: 1
				});
		.row
			.col-md-8.col-xs-12
				#chartdiv
			.col-md-4
				#statsrow.row
					#statisticsdiv.col-xs-12.col-sm-6.col-md-12
						table#graphTable.table.table-bordered.table-striped
							tbody#statTableBody
					#donutdiv.col-xs-12.col-sm-6.col-md-12
		.row
			.col-md-12
				#boluseventsdiv
					table#eventTable.table.table-bordered
						thead
							th.bg-primary(colspan='11') Bolus Events	
						tbody#eventTableBody