extends ./layout.jade

block head
	link(rel='stylesheet', type="text/css", href='css/bootstrap-datepicker3.min.css')
	link(rel='stylesheet', type="text/css", href='css/dailyGraph.css')
	script(type='text/javascript', src='js/bootstrap-datepicker.min.js')
	script(type='text/javascript', src='js/amcharts/amcharts.js')
	script(type='text/javascript', src='js/amcharts/serial.js')
	script(type='text/javascript', src='js/amcharts/themes/light.js')
	script(type='text/javascript', src='js/amcharts/pie.js')
	script(type='text/javascript', src='js/dailyGraph.js')
		
block body
	.container
		.form-inline
			.form-group
				input.form-control.input-sm(type='text' id='inputDatePicker').datepicker
			button.btn.btn-primary.btn-sm(type='button' onclick='updateChart()') Go!
		script.
			$('.datepicker').datepicker({
				autoclose: true,
				format: 'dd-mm-yyyy',
				startDate: '#{startDate}',
				endDate: '#{endDate}',
				disableTouchKeyboard: true,
				todayHighlight: true,
				weekStart: 1
			});
		#chartdiv
		#statisticsdiv
			table#graphTable.table.table-bordered.table-striped
				tbody#statTableBody
			#donutdiv
		#boluseventsdiv
			table#eventTable.table.table-bordered
				thead
					th.bg-primary(colspan='11') Bolus Events	
				tbody#eventTableBody