extends layout

block body
	body
		#container.col-lg-12
			row
				p.
					Upload een bestand om de waarden uit te lezen. Om daarna een grafiek te bekijken van de gemeten glucosewaarden, klik op "Grafiek".