extends layout

block body
	body
		#container
			.row.col-lg-8.col-lg-offset-2
				if message
					if message.error
						each msg in message.error
							.alert.alert-dismissable.alert-danger
								button.close(data-dismiss='alert', type='button') &times;
								p #{msg}
					if message.info
						each msg in message.info
							.alert.alert-dismissable.alert-info
								button.close(data-dismiss='alert', type='button') &times;
								p #{msg}
					if message.success
						each msg in message.success
							.alert.alert-dismissable.alert-success
								button.close(data-dismiss='alert', type='button') &times;
								p #{msg}
					if message.warning
						each msg in message.warning
							.alert.alert-dismissable.alert-warning
								button.close(data-dismiss='alert', type='button') &times;
								p #{msg}
			.col-lg-12
				row
					p(style='white-space:pre-wrap;')
						|Upload een .XML of .CSV-bestand na exporteren vanuit Carelink resp. CoPilot. Je wordt automatisch naar de juiste pagina's verwezen.
						br
						|Om een nieuw bestand te uploaden, ga naar "Uploaden". Het oude bestand wordt dan overschreven.
					a.btn.btn-sm.btn-primary(role="button", href="./fileupload", style="margin-top:15px") Uploaden