extends ./layout.jade

block head
	script(type='text/javascript', src='js/amcharts/amcharts.js')
	script(type='text/javascript', src='js/amcharts/serial.js')
	script(type='text/javascript', src='js/amcharts/themes/light.js')
	script(type='text/javascript', src='js/moreGraphs.js')
		
block body
	.chartcontainer