extends ./layout.jade

block head
	script(type='text/javascript', src='js/dataTables/jquery.dataTables.min.js')
	script(type='text/javascript', src='js/dataTables/dataTables.bootstrap.min.js')
	link(rel='stylesheet', type="text/css", href='css/dataTables/dataTables.bootstrap.min.css')
	link(rel='stylesheet', type="text/css", href='css/table.css')
		
block body
	#container.col-lg-12
		.panel.panel-primary
			.panel-heading Gegevens Paradigm Veo
			#tablebodydiv
				table.table.table-condensed
					tbody#tableHeader
						each date in data
							each row in date
								tr
									each val in row
										td= val