body{
	margin: 5px;
	padding-top: 50px;
}

.jumbotron{
	float: center;
	width: 50%;
	text-align: center;
	padding: 50px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}