/*=========================
  ====== Graph.js   =======
  =========================*/
#chartdiv {
	width	: 73%;
	height	: 464px;
	float	: left;
}

#statisticsdiv {
	width		: 27%;
	height		: 500px;
	font-size	: 12px;
	padding-top	: 2%;
	float		: right;
}

#donutdiv {
	width	: 100%;
	height	: 125px;
	float	: right;
}

#boluseventsdiv{
	width		: 100%;
	padding-left: 25px;
	font-size	: 12px;
}

.table-bordered>tbody>tr>td{
	width: 8%;
}

.table-bordered>tbody>tr>th{
	width: 20%;
}

.table-bordered>tbody>tr.bottom>th, 
.table-bordered>tbody>tr.bottom>td{
	border-bottom: thin solid #999;
}

table#eventTable td:nth-child(odd){
	background-color: #fbfbfb;
}

.bolus{
	background-color: #d6f5d6;
}

.bgl{
	background-color: #ffffb3;
}

.food{	
	background-color: #f6e9fc;
}