/*====== Graph ======*/
#chartdiv {
	height	: 500px;
}

/*====== Statistics ======*/
#statisticsdiv {
	margin-top	: 19px;
	max-height	: 320px;
	font-size	: 0.9em;
}

#statsrow{
	height	: 400px;
}

/*====== Donut ======*/
#donutdiv {
	min-height	: 50%;
	max-height	: 100%;
	margin: auto;
}

/*====== Bolus Events ======*/
#boluseventsdiv{
	font-size	: 12px;
	overflow-x	: auto;
}

.table-bordered>tbody>tr>td{
	width: 8%;
}

.table-bordered>tbody>tr>th{
	width: 20%;
}

/* 2,7,10,15 */
#eventTable tr:nth-child(8n+2)>td,
#eventTable tr:nth-child(8n+7)>td{
	border-bottom: thin solid #999;
}

table#eventTable td:nth-child(even){
	background-color: #fbfbfb;
}

.table-bordered>tbody>tr>td:nth-child(1){
	font-weight: bold;
}

.bolus{
	background-color: #d6f5d6;
}

.bgl{
	background-color: #ffffb3;
}

.food{	
	background-color: #f6e9fc;
}