tbody>tr:nth-child(5n+1)>td:nth-child(1){
	font-weight: bold;
}

tbody>tr:nth-child(5n+2){
	background-color: #ffffcc;
}

tbody>tr:nth-child(5n+3){
	background-color: #f6e9fc;
}

tbody>tr:nth-child(5n+4){
	background-color: #e9fbd0;
}

tbody>tr:nth-child(5n+5){
	background-color: #ebfaeb;
}

tbody>tr:nth-child(5n+5){
	border-bottom: thin solid #999;
}