extends ./layout.jade

block head
	script(type='text/javascript', src='http://www.amcharts.com/lib/3/amcharts.js')
	script(type='text/javascript', src='http://www.amcharts.com/lib/3/serial.js')
	script(type='text/javascript', src='http://www.amcharts.com/lib/3/themes/light.js')
	script(type='text/javascript', src='javascripts/graph.js')
		
block bodyContent
	#chartdiv